h1 {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    justify-content: center;
    margin-left: calc(50vw - 102px);
}
.square {
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    background-color: white;
}